/classes
/test-classes
.classpath
.project
.idea
.settings
application.development.properties

project.properties.bak
.metadata/

.DS_Store
# .gitignore

#*****************ignore plugin config******************
.idea/workspace.xml
.idea/dictionaries/myj.xml
.idea/
.DS_Store
*.classpath
*.project
.settings
.project
.target
.classpath
**/.settings
**/.classpath
**/.eclipse
**/target/
target/
bin/
.svn
*.iml
*.ipr
*.iws

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.mvn/
mvnw
mvnw.cmd
base.ipr
base.iws
